body
{
    text-align: center;
    background: linear-gradient(#94ffff 0%, #ff94c8 100%)
}

h6
{
    font-size: 40px;
    font-family: fantasy;
}
#location iframe
{
    width: 100%;
}

#video
{
    border-radius: 30px;
    padding-top: 30px;
}

input
{
    background: grey
}

.travel_mainDiv
{
    border: 1px solid #c7c7c7;
    padding-left: 0px;
    padding-right: 0px;
    float: none
}

.travel_mainDiv img
{
    width: 50%;
}

.travel_mainDiv hr
{
    width: 230px;
}

.travel_mainDiv h5 , .travel_mainDiv p
{
    margin-left: 20px;
}

.festivals_li
{
    margin-top: 13px;
}

.festivals_li h4
{
    border-bottom: 1px solid white;
    padding: 8px; 
}

.festivals_li img
{
    border-radius: 25px;
}

.festivals_li p
{
    margin-top: 10px;
}

.header_entrepreneur
{
    line-height: 2;
}

.food
{
    cursor: pointer;
}

.food hr
{
    margin-bottom: 10px;
}

.modal-content
{
    margin-top: 100px;
}

.img_modal
{
    display: inline-block;
}

.p_modal
{
    margin-top: 10px;
}

.modal-body
{
    text-align: center
}